{
	//defaults shown at https://eslint.org/docs/rules/
	"extends": ["eslint:recommended"],
	"env": {
		"browser": true,
		"es6": true,
		"jquery": true,
		"worker": true },
	"parser": "@typescript-eslint/parser",
	"parserOptions": { "sourceType": "module" },
	"plugins": ["@typescript-eslint", "import"],
	"rules": {
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"eqeqeq": "error",
		"comma-dangle": ["warn", "always-multiline"],
		"indent": ["off", "tab", {"ignoreComments": true}],
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
		"no-console": ["error", { "allow": ["warn", "error"] }],
		"no-debugger": "warn",
		"no-extra-semi": "warn",
		"no-extra-parens": "off",
		"no-irregular-whitespace": "off",
		"no-restricted-globals": ["error",
			{ "name": "name", "message": "You probably don't mean window.name. Undeclared variable?" },
		],
		"no-unexpected-multiline": "off",
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
		"semi": ["error", "never"],
		"semi-spacing": "warn",
		"spaced-comment": ["error", "always"],
		"import/extensions": ["warn", { "js": "always" }],
	}
}
