# Build Artifacts
*.css
*.css.map
**/*.js.map
**/*.min.js
**/*.js
# Can't quickly port this to TS. It's gonna take some work.
!Front_End/game.js

# Dependencies
node_modules
package-lock.json

Back_End/bin
Back_End/obj

# Tooling
.fake
.ionide
.vscode/*
!.vscode/settings.json

